nav a{
        float: right;
}
html, body{
    height:100%;
    width: 100%;
}
main{
    margin-inline-start: 30%;
    margin-inline-end: 30%;

}
a, a:visited{
    color: black;
    text-decoration: none;
}

header{
height: 100%;
position: relative;

}
header h1{
    font-size: 6rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header p{
    margin: 0;
    font-size: 1.2rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -80%);
}
header p.scroll{
    font-size: 1rem;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.project-container{
    display: grid;
    grid-template-columns:auto auto;
    column-gap: 20px;
    row-gap: 20px;
    padding-bottom: 50px;
}
.project-thumbnail{
    text-align: center;
    padding: 100px;
    border: 1px solid black;;
}
.project-text{
    font-size: 1.2rem;
}
footer{
text-align: center;
    padding: 50px;
}