nav a {
    float: right;
}

html,
body {
        font-family: sans-serif;

    height: 100%;
    width: 100%;
    margin: 0;
}
a, a:visited{
    color: black;
    text-decoration: none;
}

h1 {
    padding-bottom: 20px;
}

header, .contribution-container, .result-container {
    margin-inline-start: 30%;
    margin-inline-end: 30%;
    padding-bottom: 50px;
}

.index {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;

}
h1{
    font-size: 2.4rem;
}
h3{
    font-size: 1.3rem;
}
p{
font-size: 1.2rem;
}

main.contribution {
    background-color: black;
    color: white;
    padding-top: 50px;
}

main.result {
    padding-top: 50px;
}

footer {
    font-size: 1rem;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

footer p{
    font-size: 1rem;
}